# {{ ansible_managed }}

[Unit]
Description="D7-CiviCRM Cron for {{ inventory_hostname }}"
Documentation="https://github.com/coopsymbiotic/aegir-ansible-playbooks.git"
Wants=d7civicron_{{ site_shortname }}.timer

[Service]
User=www-data
WorkingDirectory={{ site_path }}
ExecStart=/usr/local/bin/aegir-getlock /usr/local/bin/cv cron{% if cron_user %} --user={{ cron_user }}{% endif %}
# Improves CiviMail performance, otherwise the default hard limit is 1024
LimitNOFILE=5120
