<?php
// {{ ansible_managed }}
{# drushrc alias file, ex: /var/aegir/.drush/example.org.alias.drushrc.php #}
$aliases['{{ inventory_hostname }}'] = [
  'context_type' => 'site',
  'uri' => '{{ inventory_hostname }}',
  'root' => '{{ site_root }}',
  'site_path' => '{{ site_path }}',
];
